body {
    background-color: gray;
}

#screen {
    width: 900px;
    height: 250px;
    margin: 0 auto;
    background-color: white;
    border: solid black 3px;
    border-radius: 10%;
}

#keyboard {
    width: 900px;
    height: 350px;
    margin: 0 auto;
    background-color: rgb(186, 189, 189);
    border: solid black 3px;
    border-radius: 10%;
}

.key {
    width: 50px;
    height: 50px;
    margin-left: 5px;
    background-color: black;
    color: white;
    border: solid black 1px;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
}

.special-key {
    width: 107px;
    height: 50px;
    margin-left: 5px;
    background-color: black;
    color: white;
    font-size: 80%;
    border: solid black 1px;
    border-radius: 5px;
    text-align: center;
    line-height: 50px;
}

.space-key {
    width: 336px;
    height: 50px;
    margin-left: 5px;
    background-color: black;
    border: solid black 1px;
    border-radius: 5px;
    text-align: center;
}

.key:hover,
.special-key:hover,
.space-key:hover {
    border: solid white 1px;
    cursor: pointer;
}

.first-line {
    display: flex;
    margin: 30px 0 5px 20px;
}

.second-line,
.third-line,
.fourth-line,
.fifth-line {
    display: flex;
    margin: 5px 0 0 20px;
}

.alternative {
    display: none;
}


/*
.input-screen {
    min-height: 50px;
    margin: 100px 30px;
    border: solid red 1px;
}
*/

#input-area {
    width: 850px;
    height: 200px;
    margin: 20px;
    background-color: white;
    color: black;
    font-size: 1.5em;
    overflow: hidden;
    border-radius: 5px;
    border: none;
    resize: none;
}

.active {
    background-color: greenyellow;
    COLOR: black;
}